### node ###

# Logs
logs
*.log
npm-debug.log*


# Runtime data
pids
*.pid
*.seed
*pid.lock

# OSX
#
.DS_Store


# Xcode
#

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log


#Module dependencies
node_modules/
bower_components/


# Optional eslint cache
.eslintcache

# BUCK
buck-out/
\.buckd/
android/app/libs
*.keystore

